SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY
PORT=3040
CLIENT_URL=http://localhost:5173
ADMIN_FULLNAME=YourName
ADMIN_USERNAME=adminuser
ADMIN_PASSPHRASE=YourSecretPassphrase
